body {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 5fr 6fr 5fr;
    grid-template-areas:
            "control game score"
            "info game score";

    overflow: hidden;

    width: 100vw;
    height: 100vh;

    margin: 0;

    background: url("../resources/img/starry.jpg") no-repeat;
    background-size: 100% 100%;
}

.board {
    margin: 0 50px auto;
    background-color: lightgray;
}

#control {
    grid-area: control;
}

#info {
    grid-area: info;
}

#score {
    grid-area: score;
}

canvas {
    grid-area: game;

    height: 100%;
    width: 100%;

    margin: 0 auto;

    background: url("../resources/img/les-paul-neck.svg") no-repeat;
    background-size: 100% 100%;
}